body{
    background-color: #F1F2EB;
    
}

header {
    height: 75px;
    width: 100%;
    background-color: #846B8A ;
    position: absolute;
    left: 0;
    top:0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 45px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;

}

.headerlogo {
    margin-top: 5px;
    margin-left: 5px;
    width: 65px;
    height: 65px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    background-image: url(../images/Logolight.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navmenu{
    
    float: right;
    vertical-align: top;
    margin-right: 30px;

}

.navitem{
    display: inline-block;
    padding-left: 50px;
    margin-top: 12px;
    color: #F1F2EB;
    font-family: Arial, Helvetica, sans-serif
}

.scrollProject{
    cursor: pointer;
}

.content{
    padding-bottom: 5px;
}

.nameplate {
    position: relative;
    top: 85px;
    display: grid;
    grid-template-columns: 220px 800px;
    grid-template-rows: 85px 15px;
    grid-template-areas: 
    "platelogo myname"
    "platelogo shortbio";
    

}

#platelogo{
    grid-area: platelogo;
    margin-left: 15px;
    
    
}

#myname{
    grid-area: myname;
}

#shortbio{
    grid-area: shortbio;
}

.heroimg{
    
    background-color: #FFD976 ;
    height: 550px;
    width: 75%;
    right: 0;
    top: 250px;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    .heroimg {
      display: none;
    }
  }

#glassesPic{

    height: 650px;
    width:50%;
    background-image: url(../images/johnInGlasses.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 40%;
    bottom: 0;
    
    
    
}

.work{
    width: 100%;
    position: absolute;
    top:900px;
    
}

@media only screen and (max-width:1200px) {
    .work {
        top:300px;
    }
}

.portIntro{
    text-align: center;
    
}

.workItems{
    display: flexbox;
}

.portItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.workPreview{
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 500px;
    margin: 25px;
    border-style: none;
}

.textbox{
    padding: 5%;
}

.item1 .workPreview{
    background-image: url(../images/LongPFSDT.png);
    
    
}

.item2 .workPreview{
    background-image: ;

}

.item3 .workPreview{
    background-image: url(../images/AFGDZ.png);
}

.scrollTop{
    position: fixed;
    bottom: 25px;
    right: 50px;
    
}

#scrollButton{
    border-color: transparent;
    background-color: transparent;
    align-content: center;
    height: 70px;
    width: 80px;
    z-index: 100;
}

#scrollButton img{
    cursor: pointer;
}

#footer{
    background-color: #FF9D8D;
    position: absolute;
    top: 3000px;
    left: 0;
    width: 100%;
    z-index: 1;
    
}

.footerfooter{
    background-color: #262626 ;
    position: absolute;
    width: 100%;
    
}

footer h2 {
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

footer h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: normal;
}